# Case Study Questions

Each of the following case study questions can be answered using a single SQL statement:

1.What is the total amount each customer spent at the restaurant?

2.How many days has each customer visited the restaurant?

3.What was the first item from the menu purchased by each customer?

4.What is the most purchased item on the menu and how many times was it purchased by all customers?

5.Which item was the most popular for each customer?

6.Which item was purchased first by the customer after they became a member?

7.Which item was purchased just before the customer became a member?

8.What is the total items and amount spent for each member before they became a member?

9.If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?

10.In the first week after a customer joins the program (including their join date) they earn 2x points on all items, not just sushi - how many points do customer A and B have at the end of January

![](database.png)

In [1]:
%load_ext isqlite3

Done!

In [2]:
%sql_open 1_dannys_diner.db

Done!

1.What is the total amount each customer spent at the restaurant?

In [3]:
%%sql 

SELECT s.customer_id, SUM(m.price) AS Total_Amount
FROM menu m JOIN sales s
ON m.product_id = s.product_id
GROUP BY s.customer_id
ORDER BY s.customer_id

2.How many days has each customer visited the restaurant?

In [4]:
%%sql

SELECT customer_id, COUNT(DISTINCT(order_date)) AS  Total_days
FROM sales
GROUP BY customer_id
ORDER BY customer_id

3.What was the first item from the menu purchased by each customer?

In [5]:
%%sql

SELECT s.customer_id, m.product_name
FROM sales s JOIN menu m
ON s.product_id = m.product_id
GROUP BY s.customer_id
ORDER BY s.order_date

4. What is the most purchased item on the menu and how many times was it purchased by all customers?

In [8]:
%%sql

SELECT product_name, count(*) as times_purchased
FROM sales s join menu m
ON s.product_id = m.product_id
GROUP BY product_name
ORDER BY times_purchased DESC
LIMIT 1

5. Which item was the most popular for each customer?

In [19]:
%%sql

SELECT s.customer_id, product_name, COUNT(*) AS times_purchased
FROM sales s join menu m
ON s.product_id = m.product_id
GROUP BY customer_id
ORDER BY times_purchased DESC